body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 44px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav .nav-links {
  padding: 8px 8px 8px 32px;
  margin-left: -20px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
  
}

.sidenav .nav-links:hover {
  color: #f1f1f1;
}



.sidenav .link_icon{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.sidenav .link_icon i{
  font-size: 27px;
  color: white;
}

.sidenav .openBtn{
  margin-left: 10px;
  opacity: 1;
  transition: all 0.7s ease;
}
.sidenav .openBtn.active{
  display: none;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 2px;
  font-size: 36px;
  margin-left: 50px;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidenav .closebtn.unactive{
  opacity: 1;
}

#main {
  transition: margin-left .5s;
  margin-left: 60px;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}